<!-- index.html -->
{% extends 'base.html' %}
{% block title %}
欢迎光临lwy的个人博客
{% endblock %}
{% block headmessage %}
    <h3 style="font-family:楷体;">本站文章列表</h3>
{% endblock %}
{% block content %}
    {% for post in posts %}
            <!--显示摘要等信息-->
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <p style="font-family:微软雅黑;font-size:14pt;font-weight:bold;">
                        <a href='/admin/mainsite/post/{{post.slug}}'>{{post.title | truncatechars:40}}</a>
                        </p>
                    </div>
                    <div class="panel-body" style="background-color:#ffffdd">
                        <p>
                           {{post.body | truncatechars:10}}
                        </p>
                    </div>
                    <div class="panel-footer" style="background-color:#efefef">
                         <p>
                           发布时间： {{post.pub_date | date:"Y M D, h:m:s"}}
                        </p>
                    </div>
            </div>
    {% endfor %}
{% endblock %}